#categoria0 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/plato-casa.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}

#categoria1 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/arroz-camaron.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}
#categoria2 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/broaster.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}
#categoria3 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/cev-pulpo.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}
#categoria4 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/encebollado.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}
#categoria5 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/majarisco.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}
#categoria6 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/sopa-cangrejo.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}
#categoria7 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/Tigrillo.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}
#categoria8 {
  background: url("https://github.com/Glya-Corporation/galery/blob/main/combo-cangrejo.jpg?raw=true");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center center;
}