@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body {
	background-image: url(../imagenes/carrusel/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.contenedor {
	margin: auto;
	margin-top: 100px;
	text-align: center;
}

.caja {
	padding: 10px;
	display: inline-block;
	width: 210px;
	background: #ffffff95;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 20px #00000090
}

.caja img {
	display: block;
	width: 95%;
	height: 200px;
	margin: auto;
	border-radius: 10px;
	transition: all .5s;
	position: relative;
	z-index: 20;
}

.caja img:hover {
	transform: scale(1.3);
}

.caja-text {
	margin-top: 10px;
	background-color: rgba(255, 255, 255, .9);
	border: 0.1px solid #0000ff50;
	border-radius: 10px;
	height: 115px;
	position: relative;
	z-index: 500;
}

.titulo {
	margin-top: 10px;
}

@media (max-width: 425px){
	.caja {
		width: 150px;
		font-size: 13px;
		margin: 10px;
	}

	.caja img {
		height: 160px;
	}
}